body {
  background-color: blue;
  color: aqua;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow:hidden;
}

.schermo{
    width:1920px;
    height: 1080px;
    position:relative;
    background-color: blue;
    transform-origin: top left;
}
.primo_bottone{
    position:absolute;
    left:100px;
    top:50px;
}
